/* Los siguiente elemetos se centran */
h1, h2, h3, h4, h5, h6 { 
	text-align: center;
	font-family: verdana;
	color: grey;
	background-color:lightblue;
}


body {
	background-color: pink;
}


div{
	background-color: grey;
} 


p {
	font-family: arial;
	font-size: 25px;
	text-align: right;
}

.s1 {
	border: 6px double ;
	border-color: orange;
}

.s2 {
	border: 12px groove ;
	border-color: blue
}

.s3 {
	border: 6px	dashed ;
	border-color: purple
}

.s4 {
	border: 6px outset ;
	border-color: green
}

.s5 {
	border: 6px solid;
	border-color: yellow
}

.s6 {
	border: 6px dotted ;
	border-color: red
}

.t1 {
	background-color: #d11aff;
	border: 10px;
	text-align: left;
}

.t2 {
	background-color: #ffad33;
	border: 10px;
	text-align: left;
}

.t3 {
	background-color: #66ffd9;
	border: 10px;
	text-align: left;
}

.t4 {
	background-color: #66ff66;
	border: 10px;
	text-align: left;
}

.t5 {
	background-color: #8080ff;
	border: 10px;
	text-align: left;
}

.t6 {
	background-color: #cccc00;
	border: 10px;
	text-align: left;
}

.o1 {
	list-style-type: upper-roman;
}

.u1 {
	list-style-type: circle;
}